.dark {
  --theme-color: #eeeeee;
  --theme-background: #333;
  --theme-card-background: #222222;
  --theme-text-background: #303133 !important;
  --theme-text-color: #bdc1c6 !important;
  --theme-botton-background: #5b74e3 !important;
}
