@import url(./defult.scss);
@import url(./dark.scss);

* {
  margin: 0;
  padding: 0;
}

.left_10 {
  margin-left: 10px;
}

body {
  transition: all 0.3s;
  background-color: var(--theme-background);
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  display: none;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(211, 173, 209, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #82c1ff;
}
